<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 0.0.1Alpha
    </div>
    <strong>Copyright &copy; 1993-2017 <a href="http://bimaDwijaya.com">Bindsphere Corp</a>.</strong> All rights
    reserved.
</footer>
